<!DOCTYPE html>
<html>
<head>
  <title>DOB ANALYTICS MONTHLY PERMITS DASHBOARD</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />
</head>
<body class="application">
<style>
div {
	background-color: white;
	
}
h1 {
	color: rgb(0,35,121);
	font: 30px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

</style>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	
    <div class="container-fluid">
		<h1><b>DOB MONTHLY DASHBOARD: APRIL 2017</b></h1>
      </div>
  </div>

  <div class="container-fluid">

    <div class="row">
		<div class="heading-title">
			<font size="5" face="Arial" color= "gray"><b>&nbsp;PERMITS: JOB TYPE</b></br></font>
		</div>
      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div class="chart-title">
            Job Types by Community District (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="714px" frameborder="0" scrolling="no" src="https://nycdob.github.io/D3_Permit_Draft/PermitsMap_Dashboard"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
	  <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Job Types: Top 10 Community Districts (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="350px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/Top10CDs_April2017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>

      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Job Types per Borough (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="350px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/JobTypeBoros_April2017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-sm-7">
        <div class="chart-wrapper">
          <div class="chart-title">
            Permits Time Series (5/1/2016 - 4/30/2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="300px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/TimeSeries_050116_043017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
<!-- end section -->
		<div class="heading-title">
			<font size="5" face="Arial" color= "gray"></br><b>&nbsp;PERMITS: ISSUED & RENEWED</b></br></font>
		</div>
      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div class="chart-title">
            Permits by Community District (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="714px" frameborder="0" scrolling="no" src="https://nycdob.github.io/D3_Permit_Draft/PermitsIssuedRenewedMap"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
	  <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Permits: Top 10 Community Districts (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="350px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/IssuedRenewedTop10CDs_April2017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>

      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Permits per Borough (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="350px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/IssuedRenewedBoros_April2017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-sm-7">
        <div class="chart-wrapper">
          <div class="chart-title">
            Permits Issued & Renewed Time Series (5/1/2016 - 4/30/2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="300px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/IssuedRenewedTS_050116_043017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
<!-- end section -->
		<div class="heading-title">
			<font size="5" face="Arial" color= "gray"></br><b>&nbsp;COs & TCOs</b></br></font>
		</div>
      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div class="chart-title">
            CO/TCOs by Community District (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="714px" frameborder="0" scrolling="no" src="https://nycdob.github.io/D3_Permit_Draft/COsTCOsMap"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
	  <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            CO/TCOs: Top 10 Community Districts (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="350px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/COsTCOsTop10CDs_April2017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>

      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            CO/TCOs per Borough (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="350px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/COsTCOsBoros_April2017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-sm-7">
        <div class="chart-wrapper">
          <div class="chart-title">
            CO/TCOs Time Series (5/1/2016 - 4/30/2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="300px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/COsTCOs_TS_050116_043017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
<!-- end section -->
		<div class="heading-title">
			<font size="5" face="Arial" color= "gray"></br><b>&nbsp;AHVs</b></br></font>
		</div>
      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div class="chart-title">
            AHVs by Community District (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="714px" frameborder="0" scrolling="no" src="https://nycdob.github.io/D3_Permit_Draft/AHVsMap"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
	  <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            AHVs: Top 10 Community Districts (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="350px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/AHVsTop10CDs_April2017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>

      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            AHVs per Borough (April 2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="350px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/AHVsBoros_April2017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-sm-7">
        <div class="chart-wrapper">
          <div class="chart-title">
            AHVs Time Series (5/1/2016 - 4/30/2017)
          </div>
          <div class="chart-stage">
            <!-- <img data-src="holder.js/100%x180/white"> -->
			<iframe width="100%" height="300px" frameborder="0" scrolling="no" src="https://nycdob.github.io/NVD3_DOB/examples/AHVs_TS_050116_043017"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
            <!-- Notes about this chart -->
          <!-- </div> -->
        </div>
      </div>
</div>



    <hr>

    <p class="small text-muted">Built by DOB Analytics</a></p>

  </div>

  <script type="text/javascript" src="../../assets/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="../../assets/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="../../assets/lib/keen-js/dist/keen.min.js"></script>
  <script type="text/javascript" src="../../assets/js/meta.js"></script>

</body>
</html>

