<!doctype html>
<html>
<head>
<title>DOB Safety Report</title>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="../assets/css/keen-dashboards.css" />   -->
<link rel="stylesheet" type="text/css" href="keen-dashboards.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<style>

	html,body {
		height: 100%;
	}

	iframe {
		width: 100%;
		height: 100%;
	}	


	.navbar {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.navbar-expand-sm {
		background-color: #3F4B58 !important;
	}

	.nav-item {
		padding: 0px 15px;
	}

	.navbar-brand {
		font-size:26px;
		font-weight: bold;
		font-family: open sans;
	}
	

	li.nav-item  a{
		text-decoration: none;
		color: #8A8A8A;
		font-family: open sans;
		font-size: 14px;
	}

	li.nav-item  a:hover {
		color: white;
	}

</style>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light sticky-top">

  <a class="navbar-brand"  >SAFETY REPORT (2019)</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="https://nycdob.github.io/DOB_Dashboards/layouts/index_SafetyReport.html">Complaint Inspections</a>
      </li>
      <li class="nav-item">
        <a href="https://nycdob.github.io/DOB_Dashboards/layouts/index_SafetyReport2.html">Accidents</a>
      </li>
    </ul>
  </div>
</nav>

	<iframe frameborder="0" scrolling="no" src="https://timothymartin76.carto.com/builder/c8011e18-d131-4eb7-b579-b4c44399ea6e/embed"></iframe>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
