<!DOCTYPE html>
<html>
<head>
  <title>Active Sidewalk Sheds</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://d3js.org/d3.v3.min.js"></script>

</head>

<style>
	.navbar-brand-heading {
		font-size: 24px;
		font-weight: bold;
		color: white;
		margin-top: 4px;		
	}
	#sub_nav {
		background-color: rgba(222,115,0,.6);
		border-color: rgb(222,115,0);
	}
	#sub_nav .navbar-brand {
		color: black;
	}
	html,body {
		height: 100%;
	}
	iframe {
		width: 100%;
		height: 96%;
	}
	
</style>


<body  class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-brand-heading">
		Active Sidewalk Shed Permits as of <span id="today"></div>
      </div>
    </div>
	
	<iframe frameborder="0" scrolling="no" src="https://timothymartin76.carto.com/builder/293a9a04-97ce-43e4-9b18-d5a55ba0087d/embed" ></iframe>
	
	<div class="chart-notes">
		This map shows the location of all actively permitted sidewalk sheds and is updated daily. <a href= "http://timothymartin76.cartodb.com/api/v2/sql?q=SELECT%20*%20FROM%20active_sheds2_1&format=CSV">Download Data</a>
	</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1;
	var yyyy = today.getFullYear();
	today = mm + '/' + dd + '/' + yyyy;	
	d3.select("#today").html(today);
</script>
</body>
</html>
