<!DOCTYPE html>
<html>
<head>
  <title>Active Major Construction</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://d3js.org/d3.v3.min.js"></script>

</head>

<style>

	.navbar-brand-heading {
		font-size: 28px;
		font-weight: bold;
		color: white;		
	}
	div.navbar-collapse ul.navbar-nav li.c2 a {
		color: #8A8A8A;
	}
		div.navbar-collapse ul.navbar-nav li.c2 a:hover{
		color: white;
	}
	div.navbar-collapse ul.navbar-nav li.c3 a {
		color: #8A8A8A;
	}
	#sub_nav {
		background-color: rgba(222,115,0,.6);
		border-color: rgb(222,115,0);
	}
	#sub_nav .navbar-brand {
		color: black;
	}
	#constr .navbar-brand a:hover {
		color: #8A8A8A;
	}
	html,body {
		height: 100%;
	}
	iframe {
		width: 100%;
		height: 89%;
	}
	.chart-wrapper{
		height: 410px;
	}
	.chart-stage{
		height: 100%;
	}
</style>


<body  class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
		<li><a id="constr" class="navbar-brand" style="font-size:26px" href="https://nycdob.github.io/DOB_Dashboards/layouts/Construction_Dashboard/Q4_2017"><b>NYC Construction Dashboard</b></a>
			<li class="c2"><a href="https://nycdob.github.io/DOB_Dashboards/layouts/Construction_Dashboard/2016">2016 Construction Dashboard</a></li>
          	<li class="c3"><a>Active Construction</a></li>
          	<li class="c2"><a href="https://nycdob.github.io/DOB_Dashboards/layouts/two-and-one/Active_Sheds" target="_blank">Sidewalk Sheds</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="sub_nav" class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-brand">
		NYC Active Major Construction as of <span id="today"></span>
      </div>

    </div>
  </div>

	<iframe frameborder="0" scrolling="no" src="https://timothymartin76.carto.com/builder/cebb7d7a-6575-46bd-ba72-1543a1df6c9f/embed" ></iframe>
	
	<div class="chart-notes">
		The Active Major Construction map includes all active New Building (NB) and Alteration Type 1 (A1) Enlargement permits and is updated daily. <a href= "http://bit.ly/2zCmlts">Download Data</a>
	</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="chart-wrapper">
			  <div class="chart-title">
				Most Square Footage
			  </div>
			  <div class="chart-stage">
					<iframe width="100%" height="100%" frameborder="0" scrolling="no" src="https://nycdob.github.io/D3_ActiveConstruction_Charts/examples/Most_Square_Footage_Citywide"></iframe>
			  </div>
			  <!-- <div class="chart-notes"> -->
			  <!-- </div> -->
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="chart-wrapper">
				  <div class="chart-title">
					Highest Estimated Cost
				  </div>
				  <div class="chart-stage">
						<iframe width="100%" height="100%" frameborder="0" scrolling="no" src="https://nycdob.github.io/D3_ActiveConstruction_Charts/examples/Highest_Estimated_Cost_Citywide"></iframe>
				  </div>
				  <!-- <div class="chart-notes"> -->
				  <!-- </div> -->
			</div>
		</div>  
		<div class="col-sm-6 col-md-4">
			<div class="chart-wrapper">
			  <div class="chart-title">
				Occupancy Square Footage
			  </div>
			  <div class="chart-stage">
					<iframe width="100%" height="100%" frameborder="0" scrolling="no" src="https://nycdob.github.io/D3_ActiveConstruction_Charts/examples/Occupancy_SQFT_Citywide"></iframe>
			  </div>
			  <!-- <div class="chart-notes"> -->
			  <!-- </div> -->
			</div>
		</div>
	</div>
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Biggest Projects
          </div>
          <div class="chart-stage">
              <iframe width="100%" frameborder="0" src="https://nycdob.github.io/DOB_Dashboards/Major_Construction_ajax/Biggest_Projects"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Most Expensive Projects
          </div>
          <div class="chart-stage">
              <iframe width="100%" height="100%" frameborder="0" src="https://nycdob.github.io/DOB_Dashboards/Major_Construction_ajax/Most_Expensive"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
          <!-- </div> -->
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Tallest New Buildings
          </div>
          <div class="chart-stage">
              <iframe width="100%" height="100%" frameborder="0" src="https://nycdob.github.io/DOB_Dashboards/Major_Construction_ajax/Tallest_New_Buildings"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Most Dwelling Units
          </div>
          <div class="chart-stage">
              <iframe width="100%" height="100%" frameborder="0" src="https://nycdob.github.io/DOB_Dashboards/Major_Construction_ajax/Most_Dwelling_Units"></iframe>
          </div>
          <!-- <div class="chart-notes"> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1;
	var yyyy = today.getFullYear();
	today = mm + '/' + dd + '/' + yyyy;	
	d3.select("#today").html(today);
</script>
</body>
</html>
